/*ESTILOS PARA GENERALES PARA EL MODULO mpc*/
.dvForm-Data-pTitle .icono{border: none; margin-right: 10px; vertical-align: middle;}
.tbForm-Data td.descripcion{width:150px; text-align:left;}
.tbForm-Data td.controles{width:380px; text-align:left;}

/*Estilos Agregados por Marinho*/
/*Estilos Generales del Modulo*/
#dvTool-Bar table{width: 100%;}
.tdNombreModulo{text-align: left; width: 50%;}
.tdBotonesAccion{text-align: right; width: 50%;}


/*Reescritura de valores de la clase principal */
.dvRadioGroup{
    width: 250px;
    padding: 4px 3px 4px 3px;
    font-size: 11pt;
    font-family: "arial", helvetica, sans-serif, serif;
    color: #000;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075);
    border: 1px solid #659ec7;
    border-radius: 4px;
    background-color: #fbfbfb;
    -webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075);
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075);
    -moz-border-radius: 4px;
}

/*Esta clase podra ser agregada en el archivo de clases principales para todo el proyecto*/
.infoRequerida{
    margin: 15px 1px 15px 15px;
    vertical-align: middle;
}


/*Estilos para los btones de Accion contenidos en las Grid*/
.Grid-Btn-Action{
    text-align: center;
    position: relative;
    padding: 1px;
    min-width: 24px;
    max-width: 50px;
    height: 24px;
    font-weight: normal;
    font-size: 9pt;
    font-family: arial, sans-serif;
    display: inline-block;
    color: #e0e0e0;
    border: 1px solid #d0cfcf;
    border-radius: 4px;
}
.Grid-Btn-Action img{
    border: none;
    position: relative;
}
.Grid-Btn-Action:hover, .Grid-Btn-Action:focus{
    text-decoration: none;
    box-shadow: 2px 1px 4px 1px #fbfbfb;
    border: 1px solid #e8e9e8;
}

/*Estilos para las Tabs*/
div.divTabs{
    margin: auto auto;
    margin-top: 10px;
    min-height: 350px;
    width: auto;
}
a.tabs{
    width: 150px;
}
/*Estilos para el circulo del numero de tabs*/
a.tabs span{
    border: 2px solid gray;
    border-radius: 50%;
    margin-right: 7px;
    padding: 3px 7px;
}


/*************************************************************************************/
/*ESTILOS PARA perfil_criminal.php*/
#dvForm-Perfil{
    width: 1040px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 60px;
}

#fset_perfil_criminal,
#tblfrm_perfil_criminal{
    width: 1000px;
}

#tblfrm_perfil_criminal td.descripcion{width:160px; text-align:left;}
/*.validation td.controles{width: 300px; background-color: #ccc;}*/

#fotografia{
    width:220px;
    height:250px;
    opacity: 0.8;
    border:1px solid #000;
    border-radius:1px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image : url('sin_fotografia.png');
    background-color: #FFF;
    -moz-background-size: 100% 100%;
    margin-left: 5px;
}

.fotografia{
    width:220px;
    height:250px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
}

.fotografia img{
    width:220px;
    height:250px;
}

.label-Radio.Masculino{background-color: #69C;}
.label-Radio.Femenino {background-color: #F6F;}

/*************************************************************************************/
/*ESTILOS PARA datos_criminales.php*/
#dvForm-Datos{
    width: 1200px;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: left;
    padding-bottom: 30px;
}

#fset_datos_criminales,
#tbfrm_datos_criminales{
    width: 600px;
}

/*.validation td.controles{width: 300px; background-color: #ccc;}*/

td.derecha{text-align:right;}

/*************************************************************************************/
/*ESTILOS PARA antecedentes_criminales.php*/
#dvForm-Antecedentes{
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: left;
    padding-bottom: 30px;
}

/*Sobreescribe el css para la altura del grid*/
#dvForm-Antecedentes .xGrid-dvBody{min-height: 50px;}

#fsetopetbl_mpc_antecedentes_criminales,
#tbfrmopetbl_mpc_antecedentes_criminales{
    width: 600px;
}

/*************************************************************************************/
/*ESTILOS PARA analisis_criminal.php*/
#dvForm-Analisis{
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: left;
    padding-bottom: 30px;
}

#fsetopetbl_mpc_analisis_criminal,
#tbfrmopetbl_mpc_analisis_criminal{
    width: 600px;
}


/*************************************************************************************/
/*ESTILOS PARA Incidentes_panel.php*/
#dvForm-Panel{
    width: 1200px;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: left;
}

#fsetopetbl_mid_incidentes_panel,
#tbfrmopetbl_mid_incidentes_panel{
   width: 1140px;
}

#tbfrmopetbl_mid_incidentes_info{
    background-color:#ccc;
}



/*Estilos para el Panel*/
#divPanelInfo{
    border:1px solid #A0A0A0;
    padding: 4px;
    margin: 2px;
    border-radius:6px;
    background-color:#E0DCAB;
}
#tblPanelInfo{
    width: 100%;
    border-collapse: collapse;
    border-right: none;
}

#tblPanelInfo td{
    border-bottom:1px solid #A0A0A0;
}
#tblPanelInfo td.descripcion{
    text-align:right;
    padding: 6px;
    font-weight:bold;
    width: 144px;
    border-right: 1px solid #A0A0A0;
}

#tblPanelInfo td.informacion{
    text-align:left;
    padding-left: 4px;
    font-size: 14px;
    width: 500px;
}

#tblPanelInfo td.infoto{
    width: 220px;
    background-color: #ff0000;
    text-align: right;
}

/*#tblPanel td.icoL{padding-left: 10px;}
#tblPanel td.icoR{text-align:right; padding-right: 10px;}*/

#tblPanel td.num{
    width: 40px;
    text-align: center;
}



.numero{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border:2px solid #000;
    border-radius: 50px;
    background-color: #FF0000;
    color:red;
    font-size: 30px;
    font-weight: bold;
}

.numeroCentro{
    position: relative;
    float: right;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border:2px solid #FF0000;
    border-radius: 20px;
    background-color: #EDF286;
    color:#FF0000;
    font-size: 14px;
    font-weight:600;
}

/*CSS paea los botones del panel de opciones*/
.BotonPanel{
    width: 120px;
    text-align: center;
    position: relative;
    padding: 5px 5px 2px 5px;
    max-width: 200px;
    margin: 1px 3px 1px 3px;
    height: 120px;
    font-weight: bold;
    font-size: 16px;
    font-family: arial, sans-serif;
    display: inline-block;
    color:#fff;
    color: #e0e0e0;
    border: 1px solid #d0cfcf;
    border-radius:15px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1YmRjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iIzgyOGM5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODM0M2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: rgb(181,189,200); /* Old browsers */
    background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
    background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
    background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
    background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-8 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
}
.BotonPanel img{
    border: none;
    position: relative;
}
.BotonPanel:hover, .BotonPanel:focus{
    border: 1px solid #e8e9e8;
    box-shadow: 2px 1px 4px 1px #fbfbfb;
    text-decoration: none;
    border-color:red;
    color:red;
}

.txtAreaHechos{
    width:480px;
    overflow-y: scroll;
    min-width: 480px;
    min-height: 310px;
    max-width: 480px;
    max-height: 310px;
    padding: 5px;
    font-size: 13px;
    background-color: #E0DCAB;
    text-align: justify;
}