.dvHelp{
	width: 800px;
	min-height:400px;/*
	overflow-y:scroll;*/
	text-align: center;
	padding: 10px;
	margin:0px auto;
	margin-top: 10px;
	border:0px solid #FF0000;
	border-radius:10px;
	background-color: #DEF;
}